
.bg-blog{
	background: #F2F2F2;
}
.blog-icons{
	width: 78%;
	display: inline-block;
	vertical-align: top;
}
#blog img{
	max-width: 200px;
	height: 220px;
	text-align: left;
}
.boton{
 	padding: 1% 7%;
	border-radius: 4px;
}
.pt-3{
	padding-top: 3%;
}
.pr-3{
	padding-right: 3%;
}
.pl-3{
	padding-left: 3%;
}
.pb-3{
	padding-bottom: 3%;
}
.pdrl-5{
	padding-right: 5%;
	padding-left: 5%;
}

.sin-estilo{
	list-style:none;
	}

.fondo{
	background:#EAE9F5;
}
