.bg-contactanos{
	background-image: url(../img/shoes_1.jpg); 
	background-repeat: no-repeat; 
	background-position: right; 
	background-size: auto;
	height: 450px;
}
.bg-portada{
	background-image: url(../img/dance_1.jpg);
	background-position: top;
	height: 400px;
}
.bg-clases-textura{
	background-image: url(../img/textura_2.jpg);
	background-repeat: repeat;
}
.bg-instructor1{
	background-image: url(../img/instructor_4.jpg);
	background-position: top;
	background-size: cover;
	height: 300px;
}
.bg-instructor2{
	background-image: url(../img/profesor_9.jpg);
	background-position: top;
	background-size: cover;
	height: 300px;
}
.brd-none{
	border: none;
}
.brd-input{
	border: 1px solid #A4A4A4;
}
.bg-blue{
	background: #192951;
}
.bg-blue-dark{
	background: #0B173B;
}
#contactanos img{
 	max-width: 20px;
}
.button-d{
	border-radius: 5px;
	border: none;
}
.pd-5{
	padding: 5%;
}
.pt-5{
	padding-top: 5%;
}
.w-65{
	width: 65%;
}
.w-25{
	max-width: 25%;
}
.pd-2{
	padding: 2%;
}
.pd-3{
	padding: 3%;
}
.pt-1{
	padding-top: 1%;
}
.pb-1{
	padding-bottom: 1%;
}
.pl-1{
	padding-left: 1%;
}
.pd-5-10{
	padding: 5% 10%;
}
.font-size-14{
	font-size: 14px;
}
.datos{
	max-width: 100%;
}
.w-90{
	width: 90%;
}
.mg-1{
	margin: 1%;
}
.position-r{
	position: relative;
}
.h-400{
	max-height: 400px;
}
.font-5em{
	font-size: 5em;
}
.font-2em{
	font-size: 2em;
}
.text-decoration-none{
	text-decoration: none;
}
.position-button{
	margin-left: -35%; margin-top: 40%; width: 400px; 
}
.top-90{
	bottom: 90px;
}

.img-nosotros{
	height: 500px; 
	background-image: url('../img/dance_7.jpg');
	background-size: cover;
	background-position: center;
}
